<html>
	<head>
		<title>lp/blog</title>

		<!-- Common stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Arvo:700,400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'/>

		<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
		<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/> 

		<!--[if lt IE 8]>
		  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->

		<link rel="stylesheet" href="css/lightpegasus.css" type="text/css"/>
	</head>
	<body>
		<div class="lp-core container">
			<h1 class="lp-title span-24 left right">lightpegasus.com<span class="lp-section">/blog</span></h1>
			<div class="lp-admin-button-bar span-24">
				<ul>
					<li class="lp-button">New Post</li>
					<li class="lp-button">View Hits</li>
				</ul>
			</div>
			<div class="lp-new-post">
				<input type="text"/>
			</div>
			<div class="lp-posts span-17 prepend-1">
				<div class="lp-blog-post">
					<h2 class="lp-blog-title">Maybe black mesa</h2>
					<h5 class="lp-blog-info">Published July 19, 2013</h5>
					<ul class="lp-blog-labels"><li>gaming</li> <li>projects</li></ul>
					<div class="lp-blog-entry span-16 prepend-1">
						<p>This was a triumph. I'm making a note here: HUGE SUCCESS. It's hard to overstate my satisfaction.</p>

						<p>Aperture Science: We do what we must because we can for the good of all of us except the ones who are dead</p>

						<p>But there's no sense crying over every mistake, You just keep on trying 'till you run out of cake, And the science gets done and you make a neat gun, For the people who are still alive</p>

						<p>I'm not even angry, I'm being so sincere right now, Even though you broke my heart and killed me, And torn it pieces, And threw every piece into a fire, As they burned it hurt because I was so happy for you! Now these points of data make a beautiful line And we're out of beta, we're releasing on time So I'm glad I got burned Think of all the things we learned  For the people that are still alive</p>

						<p>Go ahead and leave me I think I prefer to stay inside Maybe you'll find someone else to help you Maybe Black Mesa That was a joke, ha ha, fat chance Anyway this cake is great, it's so delicious and moist</p>

						<p>Look at me still talking, when there's science to do When I look out there it makes me glad I'm not you I've experiments to run, there is research to be done On the people who are still alive</p>

						<p>And believe me I am still alive I'm doing science and I'm still alive I feel FANTASTIC and I'm still alive While you are dying I'll be still alive And when you're dead I'll be still alive</p>

						<p>STILL ALIVE</p>
						<p>still alive</p>
					</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>